[Desktop Entry]
Type=Application
Name=NotesForge
Comment=NotesForge desktop document authoring app
Exec=NotesForge
Icon=notesforge
Terminal=false
Categories=Office;Utility;
